flows-backup.json
[
    {
        "id": "b73d42e648865905",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "876b4f298e7839e8",
        "type": "subflow",
        "name": "Subflow 1",
        "info": "",
        "in": [
            {
                "x": 300,
                "y": 160,
                "wires": [
                    {
                        "id": "f6d5dfea5c540106"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 740,
                "y": 100,
                "wires": [
                    {
                        "id": "f6d5dfea5c540106",
                        "port": 0
                    }
                ]
            },
            {
                "x": 740,
                "y": 200,
                "wires": [
                    {
                        "id": "f6d5dfea5c540106",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "DeviceId",
                "type": "json",
                "value": "7705b014-3883-4470-96c1-cbcc8ff5c691"
            }
        ]
    },
    {
        "id": "5d9db0d77c77f6cf",
        "type": "subflow",
        "name": "Subflow 2",
        "info": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": []
            }
        ],
        "out": [
            {
                "x": 160,
                "y": 30,
                "wires": []
            }
        ],
        "env": []
    },
    {
        "id": "8d814e85802b7762",
        "type": "subflow",
        "name": "Subflow 3",
        "info": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": []
            }
        ],
        "out": [
            {
                "x": 160,
                "y": 30,
                "wires": []
            }
        ],
        "env": []
    },
    {
        "id": "9ab5097b431151e3",
        "type": "subflow",
        "name": "Subflow 4",
        "info": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": []
            }
        ],
        "out": [
            {
                "x": 580,
                "y": 160,
                "wires": [
                    {
                        "id": "25b3e3dc75905615",
                        "port": 0
                    }
                ]
            },
            {
                "x": 600,
                "y": 260,
                "wires": [
                    {
                        "id": "25b3e3dc75905615",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "DeviceId",
                "type": "str",
                "value": "7705b014-3883-4470-96c1-cbcc8ff5c691"
            }
        ]
    },
    {
        "id": "c772e3e823d4d482",
        "type": "subflow",
        "name": "Subflow 5",
        "info": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": []
            }
        ],
        "out": [
            {
                "x": 160,
                "y": 30,
                "wires": []
            }
        ],
        "env": []
    },
    {
        "id": "bd868d26edefa8fe",
        "type": "subflow",
        "name": "Subflow 6",
        "info": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": []
            }
        ],
        "out": [
            {
                "x": 160,
                "y": 30,
                "wires": []
            }
        ],
        "env": [
            {
                "name": "DeviceId",
                "type": "str",
                "value": "7705b014-3883-4470-96c1-cbcc8ff5c691"
            }
        ]
    },
    {
        "id": "a13605f4f7ec2a88",
        "type": "subflow",
        "name": "Subflow 7",
        "info": "",
        "in": [
            {
                "x": 100,
                "y": 120,
                "wires": [
                    {
                        "id": "790b45a2043746b5"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 480,
                "y": 120,
                "wires": [
                    {
                        "id": "a13605f4f7ec2a88",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "DeviceId",
                "type": "str",
                "value": "9f9add43-90ea-45c9-a44d-cfe83a3de38c"
            }
        ]
    },
    {
        "id": "2bab12fbe821cddd",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mosquitto",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f6d5dfea5c540106",
        "type": "function",
        "z": "876b4f298e7839e8",
        "name": "function 1",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "7e0e0d8998dc7257",
        "type": "debug",
        "z": "5d9db0d77c77f6cf",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 140,
        "y": 120,
        "wires": []
    },
    {
        "id": "25b3e3dc75905615",
        "type": "inject",
        "z": "9ab5097b431151e3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 160,
        "wires": [
            [
                "429117ef343ab132"
            ]
        ]
    },
    {
        "id": "429117ef343ab132",
        "type": "debug",
        "z": "9ab5097b431151e3",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 500,
        "wires": []
    },
    {
        "id": "790b45a2043746b5",
        "type": "debug",
        "z": "a13605f4f7ec2a88",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 220,
        "wires": []
    },
    {
        "id": "76769b28d08262b0",
        "type": "virtual-device",
        "z": "b73d42e648865905",
        "name": "",
        "deviceUuid": "7705b014-3883-4470-96c1-cbcc8ff5c691",
        "subscribeMetrics": true,
        "subscribeSensors": true,
        "x": 230,
        "y": 200,
        "wires": [
            [
                "bbb5fed0eef8f776"
            ],
            [
                "dcbc78f985c7928b"
            ]
        ]
    },
    {
        "id": "42a63c4860728ef7",
        "type": "mqtt out",
        "z": "b73d42e648865905",
        "name": "",
        "topic": "iot/device/9f9add43-90ea-45c9-a44d-cfe83a3de38c/metrics",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2bab12fbe821cddd",
        "x": 720,
        "y": 680,
        "wires": []
    },
    {
        "id": "5d8db9e77a3844ee",
        "type": "inject",
        "z": "b73d42e648865905",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 680,
        "wires": [
            [
                "42a63c4860728ef7"
            ]
        ]
    },
    {
        "id": "bbb5fed0eef8f776",
        "type": "debug",
        "z": "b73d42e648865905",
        "name": "state",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 120,
        "wires": []
    },
    {
        "id": "cd4406ac344a19d1",
        "type": "mqtt-tree-viewer",
        "z": "b73d42e648865905",
        "name": "",
        "deviceUuid": "",
        "x": 810,
        "y": 920,
        "wires": []
    },
    {
        "id": "dfd17e632c9a7ec3",
        "type": "mqtt in",
        "z": "b73d42e648865905",
        "name": "",
        "topic": "iot/device/9f9add43-90ea-45c9-a44d-cfe83a3de38c/metrics",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "2bab12fbe821cddd",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 350,
        "y": 920,
        "wires": [
            [
                "cd4406ac344a19d1"
            ]
        ]
    },
    {
        "id": "dcbc78f985c7928b",
        "type": "debug",
        "z": "b73d42e648865905",
        "name": "sensors",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 240,
        "wires": []
    },
    {
        "id": "190ec5eb8ab7d18a",
        "type": "virtual-device",
        "z": "b73d42e648865905",
        "name": "",
        "deviceUuid": "9f9add43-90ea-45c9-a44d-cfe83a3de38c",
        "subscribeMetrics": true,
        "subscribeSensors": true,
        "x": 230,
        "y": 380,
        "wires": [
            [
                "d37a02c999ef19c5"
            ],
            [
                "d045e3a92bd2e7a8"
            ]
        ]
    },
    {
        "id": "d37a02c999ef19c5",
        "type": "debug",
        "z": "b73d42e648865905",
        "name": "state",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 340,
        "wires": []
    },
    {
        "id": "d045e3a92bd2e7a8",
        "type": "debug",
        "z": "b73d42e648865905",
        "name": "sensors",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 460,
        "wires": []
    },
    {
        "id": "55261860cbd31487",
        "type": "inject",
        "z": "b73d42e648865905",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 840,
        "y": 320,
        "wires": [
            [
                "628c742058dbc03d"
            ]
        ]
    },
    {
        "id": "628c742058dbc03d",
        "type": "remote subflow",
        "z": "b73d42e648865905",
        "name": "",
        "deviceUuid": "9f9add43-90ea-45c9-a44d-cfe83a3de38c",
        "deviceName": "device-9f9add43",
        "subflowId": "a13605f4f7ec2a88",
        "subflowName": "Subflow 7",
        "x": 1120,
        "y": 320,
        "wires": [
            [
                "d7c703ab2ef5818d"
            ]
        ]
    },
    {
        "id": "d7c703ab2ef5818d",
        "type": "debug",
        "z": "b73d42e648865905",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1380,
        "y": 320,
        "wires": []
    }
]